@using WebMVC.Services
@using WebMVC.ViewModels

@*@model  WebMVC.Models.CartModels.Cart*@
@inject IIdentityService<ApplicationUser> identityService 

@{
    ViewData["Title"] = "My Cart";
}

<form method="post" id="cartForm">
    <div class="esh-basket">
        @Html.Partial("_Header", new List<Header>() {
            new Header() { Controller = "Catalog", Text = "Back to catalog" } })

        @await Component.InvokeAsync("CartList", new { user = identityService.Get(User) })
    </div>
</form>